.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 150;
    left: 200;
    background-color: red;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 300;
    left: 190;
    background-color: red;
}

.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 80;
    left: 50;
    background-color: red;
}
