.timer{
    margin-bottom: 10px;
}

/* ======================================= */

.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 150;
    left: 200;
    background-color: red;
}

.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 300;
    left: 190;
    background-color: red;
}

.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 80;
    left: 50;
    background-color: red;
}

/* ================================================ */

.blocks{
    display: flex;
    align-items: center;
    gap: 15px;
}

.click1{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}

.click2{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}

.click3{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}

.click4{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}

.click5{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}

.start{
    margin-top: 400px;
}